@import "tailwindcss";

:root {
  --color-primary: #6C63FF;
  --color-secondary: #FF6584;
  --font-heading: 'Poppins', sans-serif;
  --font-body: 'Open Sans', sans-serif;
  --font-base: 16px;
  --font-lg: 18px;
  --font-xl: 20px;
}

body {
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--color-primary);
}

h1, h2, h3 {
  font-family: var(--font-heading);
}
